@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

#mobile-menu-button.open .top {
  transform: rotate(-45deg) translateY(7px) translateX(-6px);
}

#mobile-menu-button.open .middle {
  opacity: 0;
  transform: scaleX(0);
}

#mobile-menu-button.open .bottom {
  transform: rotate(45deg) translateY(-7px) translateX(-6px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.abstract-item {
  animation: fadeIn 0.3s ease-out forwards;
}
