<nav class="bg-sky-900 text-white sticky top-0 z-50">
  <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
    <div class="font-bold text-lg"><a href="/">ICC 2025 RAS Workshop</a></div>
    <button
      id="mobile-menu-button"
      class="relative w-8 h-5 flex flex-col justify-between items-center group md:hidden hover:opacity-80 active:scale-95 transition">
      <span class="line top w-6 h-[2px] bg-white rounded transition-all duration-300 origin-center"></span>
      <span class="line middle w-6 h-[2px] bg-white rounded transition-all duration-300"></span>
      <span class="line bottom w-6 h-[2px] bg-white rounded transition-all duration-300 origin-center"></span>
    </button>
    <ul id="nav-menu" class="hidden md:flex gap-6">
      <!-- <li><a href="/" class="hover:text-sky-200 transition">Home</a></li> -->
      <li><a href="cfp" class="hover:text-sky-200 transition line-through">Call for Papers</a></li>
      <li><a href="speakers" class="hover:text-sky-200 transition">Speakers</a></li>
      <li><a href="schedule" class="hover:text-sky-200 transition">Schedule</a></li>
      <li><a href="organizers" class="hover:text-sky-200 transition">Organizers</a></li>
      <li><a href="abstracts" class="hover:text-sky-200 transition">Abstracts</a></li>
    </ul>
  </div>
</nav>

<div
  id="mobile-menu"
  class="fixed md:hidden text-white origin-top z-50 right-0 w-full hidden text-center rounded-b-lg px-4 py-2 top-15 bg-sky-800 transition-opacity duration-300">
  <ul class="flex flex-col gap-2">
    <!-- <li><a href="/" class="block py-2 hover:text-sky-200 transition">Home</a></li> -->
    <li><a href="cfp" class="block py-2 hover:text-sky-200 transition line-through">Call for Papers</a></li>
    <li><a href="speakers" class="block py-2 hover:text-sky-200 transition">Speakers</a></li>
    <li><a href="schedule" class="block py-2 hover:text-sky-200 transition">Schedule</a></li>
    <li><a href="organizers" class="block py-2 hover:text-sky-200 transition">Organizers</a></li>
    <li><a href="abstracts" class="block py-2 hover:text-sky-200 transition">Abstracts</a></li>
  </ul>
</div>

<div id="mobile-menu-overlay" class="fixed inset-0 z-40 hidden bg-black/50"></div>
